<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <form action="/room" method="POST">
        <div class="form-group">
          <label for="meeting_id">Meeting Id</label>
          <input
            type="text"
            id="meeting_id"
            name="meeting_id"
            class="form-control"
            placeholder="Enter meeting id"
          />
        </div>
        <button type="submit" class="btn btn-primary btn-block">
          join meeting
        </button>
      </form>
    </div>
  </div>
</div>
